@font-face {
    font-family: 'HelveticaNeue77';
    src: url('../fonts/HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-BdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-BdCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue75';
    src: url('../fonts/HelveticaNeueLTPro-Bd-2.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-Bd-2.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Bd-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueL45';
    src: url('../fonts/HelveticaNeue-Light-3.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Light-3.woff') format('woff'), url('../fonts/HelveticaNeue-Light-3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}