$hel-b77: 'HelveticaNeue77';
$hel-b75: 'HelveticaNeue75';
$hel-l45: 'HelveticaNeueL45';

$border-color: #b2b2b2;
$white-color: #fff;
$tmc-color: #e88612;
$aval-color: #255faa;
$bbva-color: #0b1d3d;
$colpatria-color: #cb2130;
$visa-color: #25479f;
$bbog-color: #2a3e8b;
$codensa-color: #20adc1;
$itau-color: #302f8c;
$aexpress-color: #017cd4;
$mastercard-color: #e20d17;
$mastercard-color-2: #f59e00;
$legals-color: #2e2e2e;
$price-color: #464646;
